@media (max-width: 720px) {
  .search {
    margin-left: 20px !important;
    margin-right: 20px !important;

    .mid {
      ul {
        flex-direction: column;
        align-items: center;
        align-content: center;

        li {
          #linkId {
            .image {
              width: 150px !important;
              height: 200px !important;

              img {
                transform: translate(-50%, -50%) scale(0.27) !important;
              }
            }
          }
        }
      }
    }

    .top {
      .title {
        display: flex;
        text-align: center;
      }

      .searching {
        input {
          width: 100% !important;
        }
      }
    }
  }
}
@media (max-width: 400px) {
  .search {
    .mid {
      ul {
        li {
          #linkId {
            .image {
              width: 130px !important;
              height: 160px !important;

              img {
                transform: translate(-50%, -50%) scale(0.21) !important;
              }
            }
          }
        }
      }
    }
  }
}
@media (max-width: 359px) {
  .search {
    .mid {
      ul {
        li {
          #linkId {
            .image {
              width: 100px !important;
              height: 150px !important;

              img {
                transform: translate(-50%, -50%) scale(0.21) !important;
              }
            }
          }
        }
      }
    }
  }
}