@use "./var.scss";
@import "./responsive/settings.scss";

.app {
  margin: 80px;

  .title {
    font-size: 2.5rem;
    color: var.$royalClair;
  }

  .list {
    margin-top: 20px;

    .section {
      display: flex;
      align-items: center;
      margin-top: 10px;


      .title2 {
        font-size: 20px;
        margin-right: 10px;
      }
    }
  }

  button {
    margin-top: 15px;
  }
}