header,
footer {
  display: none !important;
}

body,
html,
#root,
.video-player,
#video-player {
  height: 100%;
  width: 100%;
}

.video-player {
  video {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  .controls {
    position: fixed;
    z-index: 3;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.781);

    #paramBox {
      display: none;
      position: absolute;
      /* From https://css.glass */
      background: rgba(255, 255, 255, 0.29);
      border-radius: 7px;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(5.4px);
      -webkit-backdrop-filter: blur(5.4px);
      border: 1px solid rgba(255, 255, 255, 0.16);
      padding: 15px;
      margin-right: 15px;

      bottom: 70px;
      right: 0;
      position: absolute;

      .box2 {
        flex-direction: column;

        .title {
          font-size: 25px;
          margin-right: 20px;
          margin-bottom: 15px;

          svg {
            transform: rotate(180deg);
          }
        }

        #linkId {
          justify-content: flex-start !important;
        }
      }

      ul,
      li {
        display: flex;
        flex-direction: column;
      }

      ul {
        li {
          div {
            margin-bottom: 5px;
            font-size: 18px;
            display: flex;
            justify-content: space-between;

            .option {
              margin-left: 20px;
              align-items: center;

              .txt {
                color: gray;
              }
            }
          }
        }
      }
    }

    .bottom {
      margin: 15px 20px;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      width: calc(100% - 40px);


      .timeinput,
      .timeinput>input {
        width: 100%;
      }

      .time {
        font-size: 13px;
      }

      .btnlist {
        margin-top: 10px;
        display: flex;
        justify-content: space-between;

        button {
          padding: 5px 10px;
          display: block;
        }

        .secbtn {
          margin-left: 5px;
        }

        .left,
        .right {
          display: flex;
        }
      }
    }
  }
}