@use "../var.scss";

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-track {
  background: var.$background;
  border-radius: 7px;
}

::-webkit-scrollbar-thumb {
  background: var.$royalClair;
  border-radius: 7px;
}

::-webkit-scrollbar-thumb:hover {
  background: var.$royal;
}

::-webkit-scrollbar-corner {
  background: var.$background;
}