.app {
  margin: 0 !important;
  display: block !important;
  
  .info {
    position: absolute;
    z-index: 2;
    display: flex;
    width: 100%;
    height: 100%;
    top: 0;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;

    .title {
      font-size: 5em;
      text-align: center;
    }

    .description {
      font-size: 2rem;
      text-align: center;
    }

    .desc {
      margin: 50px;
    }

    .btn {
      button {
        margin-top: 10px;
        background: rgba(255, 255, 255, 0.29);
        border-radius: 10px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5.4px);
        -webkit-backdrop-filter: blur(5.4px);
        border: 1px solid rgba(255, 255, 255, 0.16);
        padding: 10px;
        font-size: 17px;
        cursor: pointer;

        &:hover {
          background: rgba(100, 99, 99, 0.5);
          box-shadow: 0 6px 40px rgba(0, 0, 0, 0.2);
          transition: background 0.3s, box-shadow 0.3s;
        }
      }
    }
  }

  .image {

    img {
      width: 100%;
      height: 100vh !important;
      object-fit: cover;
      object-position: center;
      display: block;
      z-index: -1;
      pointer-events: none;
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(20, 20, 20, 0.5);
      z-index: 1;
    }
  }
}