@use "./var.scss";
@import "./responsive/home.scss";

.app {
  .top {
    .image {
      img {
        width: 100%;
        height: 100vh;
        object-fit: cover;
        object-position: center;
        display: block;
        z-index: -1;
        pointer-events: none;
      }

      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(20, 20, 20, 0.5);
        z-index: 1;
      }
    }

    .info {
      z-index: 2;
      position: absolute;
      margin: 200px 100px;

      .title {
        font-size: 50px;
      }

      p.description {
        max-width: 600px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 4;
        line-clamp: 4;
        font-size: 18px;
        margin-top: 10px;
        text-overflow: ellipsis;
      }

      .btn {
        button {
          margin-top: 10px;
          background: rgba(255, 255, 255, 0.29);
          border-radius: 10px;
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
          backdrop-filter: blur(5.4px);
          -webkit-backdrop-filter: blur(5.4px);
          border: 1px solid rgba(255, 255, 255, 0.16);
          padding: 10px;
          font-size: 17px;
          cursor: pointer;

          &:hover {
            background: rgba(100, 99, 99, 0.5);
            box-shadow: 0 6px 40px rgba(0, 0, 0, 0.2);
            transition: background 0.3s, box-shadow 0.3s;
          }
        }
      }

      .etc {
        margin-top: 5px;
        display: flex;
        align-items: center;
        flex-direction: row;
        align-content: flex-start;

        .note {
          border: 1px solid white;
          border-radius: 7px;
          padding: 6px;
          display: flex;
          align-items: flex-end;
          flex-direction: row;
          align-content: flex-end;
        }

        .genre,
        ul,
        li {
          display: flex;
        }

        .time {
          margin-left: 15px;
        }

        .genre {
          ul {
            li {
              #linkId {
                margin-left: 10px;

                &:hover {
                  color: rgb(209, 208, 208) !important;
                }
              }
            }
          }
        }
      }
    }
  }

  .mid {
    margin: 50px;

    .section {
      .title {
        color: var.$royalClair;
        font-size: 20px;
      }

      .list,
      ul,
      li {
        display: flex;
        flex-direction: row;
      }

      .list {
        margin-top: 10px;
        height: 100%;
        overflow-x: hidden;
        overflow-y: hidden;

        .btnscroll {
          background: rgba(255, 255, 255, 0.29);
          border-radius: 10px;
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
          backdrop-filter: blur(5.4px);
          -webkit-backdrop-filter: blur(5.4px);
          border: 1px solid rgba(255, 255, 255, 0.16);
          padding: 10px;
          font-size: 17px;
          cursor: pointer;
          position: absolute;
          margin-left: 50px;
          height: 170px;
          margin-top: 50px;
          z-index: 2;

          &:hover {
            background: rgba(100, 99, 99, 0.5);
            box-shadow: 0 6px 40px rgba(0, 0, 0, 0.2);
            transition: background 0.3s, box-shadow 0.3s;
          }
        }

        .btnscroll2 {
          margin-left: 0 !important;
          margin-right: 90px;
          right: 0;
        }

        ul {
          li {
            margin-right: 25px;

            .image {
              border-radius: 10px;
              width: 190px;
              height: 300px;
              overflow: hidden;
              position: relative;

              .imge2,
              .image2 img {
                top: 270px !important;
              }

              .image2 {
                position: relative;
                pointer-events: none;
                left: 50%;
                transform: translateX(-50%);

                img {
                  height: 15vh;
                  width: auto;
                  max-width: 100%;
                  object-fit: contain;
                }
              }

              img {
                position: absolute;
                top: 50%;
                left: 50%;
                width: auto;
                height: auto;
                min-width: 100%;
                min-height: 100%;
                object-fit: cover;
                transform: translate(-50%, -50%) scale(0.4);
                transition: transform 0.5s ease;
                z-index: -1;
              }

              &:hover img {
                transform: translate(-50%, -50%) scale(0.5);
              }
            }
          }
        }
      }
    }

    .section2 {
      padding-top: 15px;
    }
  }

  .title {
    font-size: 25px;
  }
}