.loadingBox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .custom-loader {
    width: 140px;
    height: 140px;
    background:
      radial-gradient(farthest-side, #766DF4 90%, #0000) center/32px 32px,
      radial-gradient(farthest-side, #6F6D91 90%, #0000) bottom/24px 24px;
    background-repeat: no-repeat;
    animation: s7 2s infinite linear;
    position: relative;
  }

  .custom-loader::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    inset: auto 0 32px;
    margin: auto;
    background: #E4E4ED;
    border-radius: 50%;
    transform-origin: 50% calc(100% + 20px);
    animation: inherit;
    animation-duration: 1s;
  }


  @keyframes s7 {
    100% {
      transform: rotate(1turn)
    }
  }
}